<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_rm-trade._tcp</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Orbitron-Regular.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-Bold.ttf</string>
	</array>
</dict>
</plist>
